html,
body {
  max-width: 100%;
}

.header {
    backdrop-filter: blur(8px);
    background: red;
}

.is-active {
    color: red !important
}

.navbar__link--active {
    font-weight: 800 !important;
}

.player-wrapper {
    margin-top: 30px;
    position: relative;
    padding-top: 56.25%
        /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.virtual-tour-card{
    border:none;
    border-radius: 8px;
    box-shadow:
  0 1.9px 1.9px rgba(0, 0, 0, 0.002),
  0 4.4px 4.3px rgba(0, 0, 0, 0.003),
  0 7.8px 7.7px rgba(0, 0, 0, 0.006),
  0 13px 12.8px rgba(0, 0, 0, 0.009),
  0 21.4px 21.2px rgba(0, 0, 0, 0.013),
  0 37.4px 37px rgba(0, 0, 0, 0.02),
  0 81px 80px rgba(0, 0, 0, 0.04)
;
}

.card:hover {
    transform: scale(1.04);
  }
  .card {
  
    transition: 0.5s ease;
    cursor: pointer;
  }