html,
body {
  max-width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.header {
    backdrop-filter: blur(8px);
    background: red;
}

.is-active {
    color: red !important
}

.navbar__link--active {
    font-weight: 800 !important;
}

.player-wrapper {
    margin-top: 30px;
    position: relative;
    padding-top: 56.25%
        /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}